.xcpcio-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xcpcio-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
